{
  "openapi": "3.0.3",
  "info": {
    "title": "Fashlab Studio \u2014 Customer API",
    "version": "1.0.0",
    "description": "Customer-side REST API for the Fashlab Studio mobile app. Admin functionality is deliberately not exposed here.\n\n### Start here\n1. **POST `/auth/guest`** \u2014 issues the bearer token everything else uses. Copy the `token` from the response, click **Authorize** above, and paste it in.\n2. Browse `/home`, `/products`, add to `/cart` \u2014 all of that works as a guest.\n3. **POST `/auth/register`** or **`/auth/login`** binds that same token to an account, so the guest cart and wishlist carry over.\n\n### Every response has the same shape\n```json\n{ \"success\": true, \"message\": null, \"data\": { }, \"errors\": { } }\n```\nBranch on `success`, show `message` to the customer, and map `errors` (`{\"field\": \"message\"}`) straight onto form validators on a 422.\n\n### Base URL\nThis webspace applies mod_rewrite patterns but drops the substitution \u2014 the same reason the storefront serves `/product.php?slug=\u2026` instead of pretty permalinks \u2014 so the API routes on `PATH_INFO` and the base URL ends in `/index.php`. `\u2026/index.php?_route=products` works too, and needs no server support at all.\n\n### Notes\n- Prices come back pre-formatted (`\"Rs. 6,050\"`); the app does no money maths.\n- Image URLs are absolute.\n- Payment is **Cash on Delivery only** \u2014 no gateway is connected.\n- If a host strips `Authorization`, send the token in `X-Api-Token` instead.\n- No CSRF token is needed; this is a bearer-token API."
  },
  "servers": [
    {
      "url": "https://fashlabstudio.mytechrcm.com/api/v1/index.php",
      "description": "Live"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Tokens, accounts, passwords"
    },
    {
      "name": "Catalogue",
      "description": "Home, products, categories, collections, search"
    },
    {
      "name": "Cart",
      "description": "Cart lines and coupons \u2014 every call returns the whole cart"
    },
    {
      "name": "Wishlist",
      "description": "Saved products; works for guests too"
    },
    {
      "name": "Checkout & Orders",
      "description": "Placing, tracking and cancelling orders"
    },
    {
      "name": "Account",
      "description": "Addresses, notifications, rewards, stock alerts"
    },
    {
      "name": "Content",
      "description": "Store settings, menus, pages, FAQs, journal"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "The token from POST /auth/guest, /auth/register or /auth/login."
      }
    },
    "schemas": {
      "ProductCard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "short_description": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "price": {
            "type": "number"
          },
          "sale_price": {
            "type": "number",
            "nullable": true
          },
          "final_price": {
            "type": "number"
          },
          "on_sale": {
            "type": "boolean"
          },
          "discount_percent": {
            "type": "integer"
          },
          "formatted_price": {
            "type": "string"
          },
          "formatted_compare_at": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string"
          },
          "in_stock": {
            "type": "boolean"
          },
          "stock_quantity": {
            "type": "integer"
          },
          "stock_status": {
            "type": "string"
          },
          "rating": {
            "type": "number"
          },
          "rating_count": {
            "type": "integer"
          },
          "featured": {
            "type": "boolean"
          },
          "badges": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "colors": {
            "type": "string",
            "nullable": true
          },
          "fabric": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ProductDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProductCard"
          },
          {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "nullable": true
              },
              "care_instructions": {
                "type": "string",
                "nullable": true
              },
              "product_type": {
                "type": "string",
                "nullable": true
              },
              "material": {
                "type": "string",
                "nullable": true
              },
              "occasion": {
                "type": "string",
                "nullable": true
              },
              "style": {
                "type": "string",
                "nullable": true
              },
              "size": {
                "type": "string",
                "nullable": true
              },
              "gender": {
                "type": "string",
                "nullable": true
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "video_url": {
                "type": "string",
                "nullable": true
              },
              "images": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "is_primary": {
                      "type": "boolean"
                    }
                  }
                }
              },
              "variant_groups": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "options": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "value": {
                            "type": "string"
                          },
                          "price_adjustment": {
                            "type": "number"
                          },
                          "final_price": {
                            "type": "number"
                          },
                          "stock_quantity": {
                            "type": "integer"
                          },
                          "in_stock": {
                            "type": "boolean"
                          },
                          "sku": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              },
              "categories": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Category"
                }
              },
              "share_url": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        ]
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "parent_id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "product_count": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "banner": {
            "type": "string",
            "format": "uri"
          },
          "is_featured": {
            "type": "boolean"
          },
          "product_count": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "CartLine": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "example": "92:0",
            "description": "product:variant. Prefer the body forms of update/remove; percent-encode this in a path."
          },
          "product_id": {
            "type": "integer"
          },
          "variant_id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "variant_label": {
            "type": "string",
            "nullable": true
          },
          "quantity": {
            "type": "integer"
          },
          "unit_price": {
            "type": "number"
          },
          "line_total": {
            "type": "number"
          },
          "formatted_unit_price": {
            "type": "string"
          },
          "formatted_line_total": {
            "type": "string"
          },
          "available": {
            "type": "boolean"
          },
          "max_quantity": {
            "type": "integer"
          }
        }
      },
      "Cart": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartLine"
            }
          },
          "coupon": {
            "type": "object",
            "nullable": true,
            "properties": {
              "code": {
                "type": "string"
              },
              "discount": {
                "type": "number"
              },
              "formatted_discount": {
                "type": "string"
              }
            }
          },
          "totals": {
            "type": "object",
            "properties": {
              "subtotal": {
                "type": "number"
              },
              "shipping": {
                "type": "number"
              },
              "discount": {
                "type": "number"
              },
              "total": {
                "type": "number"
              },
              "formatted": {
                "type": "object",
                "properties": {
                  "subtotal": {
                    "type": "string"
                  },
                  "shipping": {
                    "type": "string"
                  },
                  "discount": {
                    "type": "string"
                  },
                  "total": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "summary": {
            "type": "object",
            "properties": {
              "line_count": {
                "type": "integer"
              },
              "item_count": {
                "type": "integer"
              },
              "has_unavailable": {
                "type": "boolean"
              },
              "free_shipping_threshold": {
                "type": "number"
              },
              "amount_to_free_shipping": {
                "type": "number"
              }
            }
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "preferred_size": {
            "type": "string",
            "nullable": true
          },
          "newsletter_optin": {
            "type": "boolean"
          },
          "referral_code": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "postal_code": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string"
          },
          "is_default": {
            "type": "boolean"
          }
        }
      },
      "OrderSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "order_number": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "payment_status": {
            "type": "string"
          },
          "payment_method": {
            "type": "string",
            "example": "cod"
          },
          "total": {
            "type": "number"
          },
          "formatted_total": {
            "type": "string"
          },
          "item_count": {
            "type": "integer",
            "nullable": true
          },
          "placed_at": {
            "type": "string"
          },
          "placed_at_human": {
            "type": "string"
          }
        }
      },
      "OrderDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OrderSummary"
          },
          {
            "type": "object",
            "properties": {
              "customer": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "shipping": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "postal_code": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "method": {
                    "type": "string",
                    "nullable": true
                  },
                  "tracking_number": {
                    "type": "string",
                    "nullable": true
                  },
                  "delivery_estimate": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "totals": {
                "type": "object",
                "properties": {
                  "subtotal": {
                    "type": "number"
                  },
                  "shipping": {
                    "type": "number"
                  },
                  "discount": {
                    "type": "number"
                  },
                  "tax": {
                    "type": "number"
                  },
                  "total": {
                    "type": "number"
                  }
                }
              },
              "coupon_code": {
                "type": "string",
                "nullable": true
              },
              "notes": {
                "type": "string",
                "nullable": true
              },
              "is_gift": {
                "type": "boolean"
              },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "product_id": {
                      "type": "integer",
                      "nullable": true
                    },
                    "name": {
                      "type": "string"
                    },
                    "variant_label": {
                      "type": "string",
                      "nullable": true
                    },
                    "quantity": {
                      "type": "integer"
                    },
                    "price": {
                      "type": "number"
                    },
                    "subtotal": {
                      "type": "number"
                    },
                    "image": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              },
              "timeline": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "human": {
                      "type": "string"
                    }
                  }
                }
              },
              "flow": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "can_cancel": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "Review": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "rating": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string",
            "nullable": true
          },
          "fit_feedback": {
            "type": "string",
            "nullable": true
          },
          "verified": {
            "type": "boolean"
          },
          "helpful_yes": {
            "type": "integer"
          },
          "created_at": {
            "type": "string"
          },
          "human": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Connectivity check",
        "operationId": "get_health",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "api_version": {
                          "type": "string"
                        },
                        "store": {
                          "type": "string"
                        },
                        "server_time": {
                          "type": "string"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Confirms the API is installed and reachable. No token needed."
      }
    },
    "/auth/guest": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Issue / confirm a token",
        "operationId": "post_auth_guest",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "is_new": {
                          "type": "boolean"
                        },
                        "customer": {
                          "nullable": true,
                          "$ref": "#/components/schemas/Customer"
                        },
                        "cart_count": {
                          "type": "integer"
                        },
                        "wishlist_count": {
                          "type": "integer"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "**Call this on first launch.** Returns the bearer token that carries the cart and wishlist.\n\nSafe to call on every launch: presented with a valid token it returns that same token. Register or Login binds this same token to the account, so a guest cart is never lost.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platform": {
                    "type": "string",
                    "example": "android"
                  },
                  "device_name": {
                    "type": "string",
                    "example": "Pixel 8"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Create an account",
        "operationId": "post_auth_register",
        "responses": {
          "201": {
            "description": "Registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "customer": {
                          "$ref": "#/components/schemas/Customer"
                        },
                        "cart": {
                          "$ref": "#/components/schemas/Cart"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Already signed in",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed \u2014 see `errors`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "phone": {
                    "type": "string"
                  },
                  "newsletter": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "email",
                  "password"
                ]
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign in",
        "operationId": "post_auth_login",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "customer": {
                          "$ref": "#/components/schemas/Customer"
                        },
                        "cart": {
                          "$ref": "#/components/schemas/Cart"
                        },
                        "wishlist_count": {
                          "type": "integer"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Wrong credentials, or locked out after repeated failures",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Binds the current token to the account and carries the guest wishlist across.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign out this device",
        "operationId": "post_auth_logout",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not signed in",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Revokes this token. Call `/auth/guest` afterwards to get a fresh one.\n\n**Requires a signed-in customer.**"
      }
    },
    "/auth/logout-all": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign out everywhere",
        "operationId": "post_auth_logout-all",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not signed in",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "**Requires a signed-in customer.**"
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Current customer",
        "operationId": "get_auth_me",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "customer": {
                          "$ref": "#/components/schemas/Customer"
                        },
                        "order_count": {
                          "type": "integer"
                        },
                        "cart_count": {
                          "type": "integer"
                        },
                        "wishlist_count": {
                          "type": "integer"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not signed in",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "**Requires a signed-in customer.**"
      }
    },
    "/auth/profile": {
      "put": {
        "tags": [
          "Auth"
        ],
        "summary": "Update profile",
        "operationId": "put_auth_profile",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "customer": {
                          "$ref": "#/components/schemas/Customer"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not signed in",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "preferred_size": {
                    "type": "string"
                  },
                  "newsletter_optin": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "description": "**Requires a signed-in customer.**"
      }
    },
    "/auth/change-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Change password",
        "operationId": "post_auth_change-password",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not signed in",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "current_password": {
                    "type": "string"
                  },
                  "new_password": {
                    "type": "string",
                    "minLength": 8
                  }
                },
                "required": [
                  "current_password",
                  "new_password"
                ]
              }
            }
          }
        },
        "description": "**Requires a signed-in customer.**"
      }
    },
    "/auth/forgot-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request a reset link",
        "operationId": "post_auth_forgot-password",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Always answers the same way whether or not the email has an account, so it cannot be used to discover which emails are registered.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Reset with a token",
        "operationId": "post_auth_reset-password",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                },
                "required": [
                  "token",
                  "password"
                ]
              }
            }
          }
        }
      }
    },
    "/home": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Everything the home screen needs",
        "operationId": "get_home",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "announcement": {
                          "type": "string"
                        },
                        "hero_slides": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "eyebrow": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "subtitle": {
                                "type": "string"
                              },
                              "image": {
                                "type": "string",
                                "format": "uri"
                              },
                              "cta_text": {
                                "type": "string"
                              },
                              "cta_link": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Category"
                          }
                        },
                        "collections": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Collection"
                          }
                        },
                        "featured": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        },
                        "new_arrivals": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        },
                        "best_sellers": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        },
                        "on_sale": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        },
                        "testimonials": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "One call for the whole home screen, so it paints in a single round trip."
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Browse and search products",
        "operationId": "get_products",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        },
                        "meta": {
                          "$ref": "#/components/schemas/Meta"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Free text search"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Category slug or id"
          },
          {
            "name": "collection",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Collection slug or id"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "featured",
                "best_selling",
                "price_low",
                "price_high",
                "name"
              ],
              "default": "newest"
            },
            "description": ""
          },
          {
            "name": "price",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "under-5000",
                "5000-10000",
                "10000-15000",
                "over-15000"
              ]
            },
            "description": "Preset band. Overrides price_min/price_max."
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": ""
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": ""
          },
          {
            "name": "fabric",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value from /filters"
          },
          {
            "name": "color",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value from /filters"
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value from /filters"
          },
          {
            "name": "availability",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Any value = in stock only"
          },
          {
            "name": "sale",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Any value = on sale only"
          },
          {
            "name": "featured",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Any value = featured only"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": ""
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 48
            },
            "description": ""
          }
        ]
      }
    },
    "/products/{slug}": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Product detail",
        "operationId": "get_products_slug",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "product": {
                          "$ref": "#/components/schemas/ProductDetail"
                        },
                        "related": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        },
                        "in_wishlist": {
                          "type": "boolean"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Accepts a slug or a numeric id. Also records the view and the recently-viewed entry.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product slug or id"
          }
        ]
      }
    },
    "/products/{slug}/reviews": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Product reviews",
        "operationId": "get_products_slug_reviews",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Review"
                          }
                        },
                        "meta": {
                          "$ref": "#/components/schemas/Meta"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": ""
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": ""
          }
        ]
      },
      "post": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Submit a review",
        "operationId": "post_products_slug_reviews",
        "responses": {
          "201": {
            "description": "Submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Held for moderation before it appears, exactly as on the website.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "title": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string",
                    "minLength": 10
                  },
                  "fit_feedback": {
                    "type": "string"
                  }
                },
                "required": [
                  "rating"
                ]
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "All categories",
        "operationId": "get_categories",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Category"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories/{slug}": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Category detail",
        "operationId": "get_categories_slug",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "$ref": "#/components/schemas/Category"
                        },
                        "children": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Category"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/collections": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "All collections",
        "operationId": "get_collections",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Collection"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collections/{slug}": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Collection detail",
        "operationId": "get_collections_slug",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "collection": {
                          "$ref": "#/components/schemas/Collection"
                        },
                        "products": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 24
            },
            "description": ""
          }
        ]
      }
    },
    "/filters": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Facets for the filter sheet",
        "operationId": "get_filters",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "facets": {
                          "type": "object",
                          "properties": {
                            "fabrics": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "colors": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "sizes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Category"
                          }
                        },
                        "sorts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "price_presets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/suggest": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Type-ahead suggestions",
        "operationId": "get_search_suggest",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "products": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Category"
                          }
                        },
                        "collections": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Collection"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Needs at least 2 characters; returns empty lists below that.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search text",
            "required": true
          }
        ]
      }
    },
    "/search/trending": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Trending searches",
        "operationId": "get_search_trending",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/recently-viewed": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Recently viewed products",
        "operationId": "get_recently-viewed",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/looks": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Shop-the-look sets",
        "operationId": "get_looks",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cart": {
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Get the cart",
        "operationId": "get_cart",
        "responses": {
          "200": {
            "description": "The complete cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "Empty the cart",
        "operationId": "delete_cart",
        "responses": {
          "200": {
            "description": "The complete cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Also drops any applied coupon."
      }
    },
    "/cart/count": {
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Cart badge count",
        "operationId": "get_cart_count",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cart/items": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Add an item",
        "operationId": "post_cart_items",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Out of stock or invalid product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Stock is checked server-side; an out-of-stock item is refused with 422.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "integer"
                  },
                  "variant_id": {
                    "type": "integer"
                  },
                  "quantity": {
                    "type": "integer",
                    "default": 1,
                    "maximum": 99
                  }
                },
                "required": [
                  "product_id"
                ]
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Cart"
        ],
        "summary": "Update quantity (preferred)",
        "operationId": "patch_cart_items",
        "responses": {
          "200": {
            "description": "The complete cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Body form. Prefer this over the path form \u2014 a cart key contains a colon, which some clients and proxies mangle in a URL path.\n\nA quantity of 0 removes the line.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "example": "92:0"
                  },
                  "quantity": {
                    "type": "integer"
                  }
                },
                "required": [
                  "key",
                  "quantity"
                ]
              }
            }
          }
        }
      }
    },
    "/cart/items/{key}": {
      "patch": {
        "tags": [
          "Cart"
        ],
        "summary": "Update quantity (path form)",
        "operationId": "patch_cart_items_key",
        "responses": {
          "200": {
            "description": "The complete cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Percent-encode the colon: `92%3A0`.",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cart key, e.g. 92:0"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "integer"
                  }
                },
                "required": [
                  "quantity"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "Remove an item (path form)",
        "operationId": "delete_cart_items_key",
        "responses": {
          "200": {
            "description": "The complete cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cart key, percent-encoded"
          }
        ]
      }
    },
    "/cart/items/remove": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Remove an item (preferred)",
        "operationId": "post_cart_items_remove",
        "responses": {
          "200": {
            "description": "The complete cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "example": "92:0"
                  }
                },
                "required": [
                  "key"
                ]
              }
            }
          }
        }
      }
    },
    "/cart/coupon": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Apply a coupon",
        "operationId": "post_cart_coupon",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Coupon not valid for this cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Validity, minimum order and usage limits are all checked server-side.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "WELCOME10"
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "Remove the coupon",
        "operationId": "delete_cart_coupon",
        "responses": {
          "200": {
            "description": "The complete cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
[...]
