{
  "openapi": "3.0.3",
  "info": {
    "title": "Fashlab Studio \u2014 Customer API",
    "version": "2.0.0",
    "description": "Customer-side REST API for the Fashlab Studio mobile app.\n\n### There are no customer accounts\nThe app mirrors the website: a visitor browses, fills in the checkout form and orders as a guest. There is no registration, no sign-in and no order history. The only login anywhere is the admin panel on the website, which this API does not expose.\n\nAn order is reached afterwards by its **order number plus the email or phone used on it** \u2014 `/orders/track` \u2014 which is what the site's track-order page does.\n\n### Start here\n1. **POST `/session`** \u2014 returns a device token. It is not a credential; it just carries the cart and wishlist, because a phone has no session cookie. Click **Authorize** above and paste it in.\n2. Browse `/home` and `/products`, add to `/cart`, save to `/wishlist`.\n3. **POST `/orders`** with the form fields to place the order.\n\nIf a request arrives with no token, or a stale one, a fresh token is issued and returned in the **`X-Api-Token`** response header \u2014 read that header on every response and replace your stored token when it differs.\n\n### Every response has the same shape\n```json\n{ \"success\": true, \"message\": null, \"data\": { }, \"errors\": { } }\n```\nBranch on `success`, show `message` to the customer, and map `errors` (`{\"field\": \"message\"}`) straight onto form validators on a 422.\n\n### Base URL\nThis webspace applies mod_rewrite patterns but drops the substitution \u2014 the same reason the storefront serves `/product.php?slug=\u2026` instead of pretty permalinks \u2014 so the API routes on `PATH_INFO` and the base URL ends in `/index.php`. `\u2026/index.php?_route=products` works too, and needs no server support at all.\n\n### Notes\n- Prices come back pre-formatted (`\"Rs. 6,050\"`); the app does no money maths.\n- Image URLs are absolute.\n- Payment is **Cash on Delivery only** \u2014 no gateway is connected.\n- If a host strips `Authorization`, send the token in `X-Api-Token` instead.\n- No CSRF token is needed."
  },
  "servers": [
    {
      "url": "https://fashlabstudio.mytechrcm.com/api/v1/index.php",
      "description": "Live"
    }
  ],
  "tags": [
    {
      "name": "Session",
      "description": "The anonymous device token \u2014 not a login"
    },
    {
      "name": "Catalogue",
      "description": "Home, products, categories, collections, search"
    },
    {
      "name": "Cart",
      "description": "Cart lines and coupons \u2014 every call returns the whole cart"
    },
    {
      "name": "Wishlist",
      "description": "Saved products, held against the device token"
    },
    {
      "name": "Checkout & Orders",
      "description": "Guest checkout and order tracking"
    },
    {
      "name": "Content",
      "description": "Store settings, menus, pages, FAQs, journal"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "The device token from POST /session."
      }
    },
    "schemas": {
      "ProductCard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "short_description": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "price": {
            "type": "number"
          },
          "sale_price": {
            "type": "number",
            "nullable": true
          },
          "final_price": {
            "type": "number"
          },
          "on_sale": {
            "type": "boolean"
          },
          "discount_percent": {
            "type": "integer"
          },
          "formatted_price": {
            "type": "string"
          },
          "formatted_compare_at": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string"
          },
          "in_stock": {
            "type": "boolean"
          },
          "stock_quantity": {
            "type": "integer"
          },
          "stock_status": {
            "type": "string"
          },
          "rating": {
            "type": "number"
          },
          "rating_count": {
            "type": "integer"
          },
          "featured": {
            "type": "boolean"
          },
          "badges": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "colors": {
            "type": "string",
            "nullable": true
          },
          "fabric": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ProductDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProductCard"
          },
          {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "nullable": true
              },
              "care_instructions": {
                "type": "string",
                "nullable": true
              },
              "product_type": {
                "type": "string",
                "nullable": true
              },
              "material": {
                "type": "string",
                "nullable": true
              },
              "occasion": {
                "type": "string",
                "nullable": true
              },
              "style": {
                "type": "string",
                "nullable": true
              },
              "size": {
                "type": "string",
                "nullable": true
              },
              "gender": {
                "type": "string",
                "nullable": true
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "video_url": {
                "type": "string",
                "nullable": true
              },
              "images": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "is_primary": {
                      "type": "boolean"
                    }
                  }
                }
              },
              "variant_groups": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "options": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "value": {
                            "type": "string"
                          },
                          "price_adjustment": {
                            "type": "number"
                          },
                          "final_price": {
                            "type": "number"
                          },
                          "stock_quantity": {
                            "type": "integer"
                          },
                          "in_stock": {
                            "type": "boolean"
                          },
                          "sku": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              },
              "categories": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Category"
                }
              },
              "share_url": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        ]
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "parent_id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "product_count": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "banner": {
            "type": "string",
            "format": "uri"
          },
          "is_featured": {
            "type": "boolean"
          },
          "product_count": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "CartLine": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "example": "92:0",
            "description": "product:variant. Prefer the body forms of update/remove."
          },
          "product_id": {
            "type": "integer"
          },
          "variant_id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "variant_label": {
            "type": "string",
            "nullable": true
          },
          "quantity": {
            "type": "integer"
          },
          "unit_price": {
            "type": "number"
          },
          "line_total": {
            "type": "number"
          },
          "formatted_unit_price": {
            "type": "string"
          },
          "formatted_line_total": {
            "type": "string"
          },
          "available": {
            "type": "boolean"
          },
          "max_quantity": {
            "type": "integer"
          }
        }
      },
      "Cart": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartLine"
            }
          },
          "coupon": {
            "type": "object",
            "nullable": true,
            "properties": {
              "code": {
                "type": "string"
              },
              "discount": {
                "type": "number"
              },
              "formatted_discount": {
                "type": "string"
              }
            }
          },
          "totals": {
            "type": "object",
            "properties": {
              "subtotal": {
                "type": "number"
              },
              "shipping": {
                "type": "number"
              },
              "discount": {
                "type": "number"
              },
              "total": {
                "type": "number"
              },
              "formatted": {
                "type": "object",
                "properties": {
                  "subtotal": {
                    "type": "string"
                  },
                  "shipping": {
                    "type": "string"
                  },
                  "discount": {
                    "type": "string"
                  },
                  "total": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "summary": {
            "type": "object",
            "properties": {
              "line_count": {
                "type": "integer"
              },
              "item_count": {
                "type": "integer"
              },
              "has_unavailable": {
                "type": "boolean"
              },
              "free_shipping_threshold": {
                "type": "number"
              },
              "amount_to_free_shipping": {
                "type": "number"
              }
            }
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "OrderSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "order_number": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "payment_status": {
            "type": "string"
          },
          "payment_method": {
            "type": "string",
            "example": "cod"
          },
          "total": {
            "type": "number"
          },
          "formatted_total": {
            "type": "string"
          },
          "item_count": {
            "type": "integer",
            "nullable": true
          },
          "placed_at": {
            "type": "string"
          },
          "placed_at_human": {
            "type": "string"
          }
        }
      },
      "OrderDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OrderSummary"
          },
          {
            "type": "object",
            "properties": {
              "customer": {
                "type": "object",
                "description": "The details typed into the checkout form.",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "shipping": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "postal_code": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "method": {
                    "type": "string",
                    "nullable": true
                  },
                  "tracking_number": {
                    "type": "string",
                    "nullable": true
                  },
                  "delivery_estimate": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "totals": {
                "type": "object",
                "properties": {
                  "subtotal": {
                    "type": "number"
                  },
                  "shipping": {
                    "type": "number"
                  },
                  "discount": {
                    "type": "number"
                  },
                  "tax": {
                    "type": "number"
                  },
                  "total": {
                    "type": "number"
                  }
                }
              },
              "coupon_code": {
                "type": "string",
                "nullable": true
              },
              "notes": {
                "type": "string",
                "nullable": true
              },
              "is_gift": {
                "type": "boolean"
              },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "product_id": {
                      "type": "integer",
                      "nullable": true
                    },
                    "name": {
                      "type": "string"
                    },
                    "variant_label": {
                      "type": "string",
                      "nullable": true
                    },
                    "quantity": {
                      "type": "integer"
                    },
                    "price": {
                      "type": "number"
                    },
                    "subtotal": {
                      "type": "number"
                    },
                    "image": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              },
              "timeline": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "human": {
                      "type": "string"
                    }
                  }
                }
              },
              "flow": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "can_cancel": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "Review": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "rating": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string",
            "nullable": true
          },
          "fit_feedback": {
            "type": "string",
            "nullable": true
          },
          "verified": {
            "type": "boolean"
          },
          "helpful_yes": {
            "type": "integer"
          },
          "created_at": {
            "type": "string"
          },
          "human": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Session"
        ],
        "summary": "Connectivity check",
        "operationId": "get_health",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "api_version": {
                          "type": "string"
                        },
                        "store": {
                          "type": "string"
                        },
                        "server_time": {
                          "type": "string"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Confirms the API is installed and reachable."
      }
    },
    "/session": {
      "post": {
        "tags": [
          "Session"
        ],
        "summary": "Get a device token",
        "operationId": "post_session",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "is_new": {
                          "type": "boolean"
                        },
                        "cart_count": {
                          "type": "integer"
                        },
                        "wishlist_count": {
                          "type": "integer"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "**Call this on first launch and store the token.**\n\nThis is not a login \u2014 there are no customer accounts. The token is an anonymous device identity that carries the cart and the wishlist between requests, because a phone has no session cookie.\n\nSafe to call on every launch: presented with a valid token it returns that same token rather than starting a new cart.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platform": {
                    "type": "string",
                    "example": "android"
                  },
                  "device_name": {
                    "type": "string",
                    "example": "Pixel 8"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/home": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Everything the home screen needs",
        "operationId": "get_home",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "announcement": {
                          "type": "string"
                        },
                        "hero_slides": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "eyebrow": {
                                "type": "string",
                                "nullable": true
                              },
                              "title": {
                                "type": "string"
                              },
                              "subtitle": {
                                "type": "string",
                                "nullable": true
                              },
                              "image": {
                                "type": "string",
                                "format": "uri"
                              },
                              "cta_text": {
                                "type": "string",
                                "nullable": true
                              },
                              "cta_link": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          }
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Category"
                          }
                        },
                        "collections": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Collection"
                          }
                        },
                        "featured": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        },
                        "new_arrivals": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        },
                        "best_sellers": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        },
                        "on_sale": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        },
                        "testimonials": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "One call for the whole home screen, so it paints in a single round trip."
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Browse and search products",
        "operationId": "get_products",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        },
                        "meta": {
                          "$ref": "#/components/schemas/Meta"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Free text search"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Category slug or id"
          },
          {
            "name": "collection",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Collection slug or id"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "newest",
              "enum": [
                "newest",
                "featured",
                "best_selling",
                "price_low",
                "price_high",
                "name"
              ]
            },
            "description": ""
          },
          {
            "name": "price",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "under-5000",
                "5000-10000",
                "10000-15000",
                "over-15000"
              ]
            },
            "description": "Preset band. Overrides price_min / price_max."
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": ""
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": ""
          },
          {
            "name": "fabric",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value from /filters"
          },
          {
            "name": "color",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value from /filters"
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Value from /filters"
          },
          {
            "name": "availability",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Any value = in stock only"
          },
          {
            "name": "sale",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Any value = on sale only"
          },
          {
            "name": "featured",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Any value = featured only"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": ""
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 48
            },
            "description": ""
          }
        ]
      }
    },
    "/products/{slug}": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Product detail",
        "operationId": "get_products__slug_",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "product": {
                          "$ref": "#/components/schemas/ProductDetail"
                        },
                        "related": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        },
                        "reviews": {
                          "type": "object",
                          "properties": {
                            "summary": {
                              "type": "object",
                              "properties": {
                                "avg": {
                                  "type": "number"
                                },
                                "count": {
                                  "type": "integer"
                                },
                                "breakdown": {
                                  "type": "object"
                                }
                              }
                            },
                            "items": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Review"
                              }
                            }
                          }
                        },
                        "size_chart": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "in_wishlist": {
                          "type": "boolean"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Accepts a slug or a numeric id. Also records the view and the recently-viewed entry.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product slug or id"
          }
        ]
      }
    },
    "/products/{slug}/reviews": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Product reviews",
        "operationId": "get_products__slug__reviews",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Review"
                          }
                        },
                        "meta": {
                          "$ref": "#/components/schemas/Meta"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": ""
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": ""
          }
        ]
      },
      "post": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Submit a review",
        "operationId": "post_products__slug__reviews",
        "responses": {
          "201": {
            "description": "Submitted for moderation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Name and email are typed in by the reviewer, as there are no accounts. Reviews are held for moderation before they appear, exactly as on the website.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "title": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string",
                    "minLength": 10
                  },
                  "fit_feedback": {
                    "type": "string"
                  }
                },
                "required": [
                  "rating",
                  "name",
                  "email",
                  "body"
                ]
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "All categories",
        "operationId": "get_categories",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Category"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories/{slug}": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Category detail",
        "operationId": "get_categories__slug_",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "category": {
                          "$ref": "#/components/schemas/Category"
                        },
                        "children": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Category"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/collections": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "All collections",
        "operationId": "get_collections",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Collection"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collections/{slug}": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Collection detail",
        "operationId": "get_collections__slug_",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "collection": {
                          "$ref": "#/components/schemas/Collection"
                        },
                        "products": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 24
            },
            "description": ""
          }
        ]
      }
    },
    "/filters": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Facets for the filter sheet",
        "operationId": "get_filters",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "facets": {
                          "type": "object",
                          "properties": {
                            "fabrics": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "colors": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "sizes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Category"
                          }
                        },
                        "sorts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "price_presets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/suggest": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Type-ahead suggestions",
        "operationId": "get_search_suggest",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "products": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        },
                        "categories": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Category"
                          }
                        },
                        "collections": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Collection"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Needs at least 2 characters; returns empty lists below that.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search text",
            "required": true
          }
        ]
      }
    },
    "/search/trending": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Trending searches",
        "operationId": "get_search_trending",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/recently-viewed": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Recently viewed products",
        "operationId": "get_recently-viewed",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Tracked per device token."
      }
    },
    "/looks": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Shop-the-look sets",
        "operationId": "get_looks",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cart": {
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Get the cart",
        "operationId": "get_cart",
        "responses": {
          "200": {
            "description": "The complete cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "Empty the cart",
        "operationId": "delete_cart",
        "responses": {
          "200": {
            "description": "The complete cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Also drops any applied coupon."
      }
    },
    "/cart/count": {
      "get": {
        "tags": [
          "Cart"
        ],
        "summary": "Cart badge count",
        "operationId": "get_cart_count",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cart/items": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Add an item",
        "operationId": "post_cart_items",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Out of stock or invalid product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Stock is checked server-side; an out-of-stock item is refused with 422.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "integer"
                  },
                  "variant_id": {
                    "type": "integer"
                  },
                  "quantity": {
                    "type": "integer",
                    "default": 1,
                    "maximum": 99
                  }
                },
                "required": [
                  "product_id"
                ]
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Cart"
        ],
        "summary": "Update quantity (preferred)",
        "operationId": "patch_cart_items",
        "responses": {
          "200": {
            "description": "The complete cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Body form. Prefer this over the path form \u2014 a cart key contains a colon, which some clients and proxies mangle in a URL path.\n\nA quantity of 0 removes the line.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "example": "92:0"
                  },
                  "quantity": {
                    "type": "integer"
                  }
                },
                "required": [
                  "key",
                  "quantity"
                ]
              }
            }
          }
        }
      }
    },
    "/cart/items/{key}": {
      "patch": {
        "tags": [
          "Cart"
        ],
        "summary": "Update quantity (path form)",
        "operationId": "patch_cart_items__key_",
        "responses": {
          "200": {
            "description": "The complete cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Percent-encode the colon: `92%3A0`.",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cart key, e.g. 92:0"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "integer"
                  }
                },
                "required": [
                  "quantity"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "Remove an item (path form)",
        "operationId": "delete_cart_items__key_",
        "responses": {
          "200": {
            "description": "The complete cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cart key, percent-encoded"
          }
        ]
      }
    },
    "/cart/items/remove": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Remove an item (preferred)",
        "operationId": "post_cart_items_remove",
        "responses": {
          "200": {
            "description": "The complete cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "example": "92:0"
                  }
                },
                "required": [
                  "key"
                ]
              }
            }
          }
        }
      }
    },
    "/cart/coupon": {
      "post": {
        "tags": [
          "Cart"
        ],
        "summary": "Apply a coupon",
        "operationId": "post_cart_coupon",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Coupon not valid for this cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Validity, minimum order and usage limits are all checked server-side.\n\n`WELCOME10` in the example is a placeholder \u2014 replace it with a code that exists in Admin -> Coupons, or the response is a 422 saying the code is not valid.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "WELCOME10"
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Cart"
        ],
        "summary": "Remove the coupon",
        "operationId": "delete_cart_coupon",
        "responses": {
          "200": {
            "description": "The complete cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Cart"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wishlist": {
      "get": {
        "tags": [
          "Wishlist"
        ],
        "summary": "Saved products",
        "operationId": "get_wishlist",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProductCard"
                          }
                        },
                        "count": {
                          "type": "integer"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Held against the device token, like the website holds it against the session."
      },
      "post": {
        "tags": [
          "Wishlist"
        ],
        "summary": "Save a product",
        "operationId": "post_wishlist",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "saved": {
                          "type": "boolean"
                        },
                        "count": {
                          "type": "integer"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Idempotent \u2014 saving an item already on the list is not an error.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "product_id"
                ]
              }
            }
          }
        }
      }
    },
    "/wishlist/count": {
      "get": {
        "tags": [
          "Wishlist"
        ],
        "summary": "Wishlist badge count",
        "operationId": "get_wishlist_count",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wishlist/ids": {
      "get": {
        "tags": [
          "Wishlist"
        ],
        "summary": "Saved product ids",
        "operationId": "get_wishlist_ids",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ids": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "For painting heart icons across a product grid in one call."
      }
    },
    "/wishlist/toggle": {
      "post": {
        "tags": [
          "Wishlist"
        ],
        "summary": "Toggle a product",
        "operationId": "post_wishlist_toggle",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "saved": {
                          "type": "boolean"
                        },
                        "count": {
                          "type": "integer"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "product_id"
                ]
              }
            }
          }
        }
      }
    },
    "/wishlist/{product_id}": {
      "delete": {
        "tags": [
          "Wishlist"
        ],
        "summary": "Remove a product",
        "operationId": "delete_wishlist__product_id_",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "saved": {
                          "type": "boolean"
                        },
                        "count": {
                          "type": "integer"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": ""
          }
        ]
      }
    },
    "/wishlist/move-to-cart": {
      "post": {
        "tags": [
          "Wishlist"
        ],
        "summary": "Move to cart",
        "operationId": "post_wishlist_move-to-cart",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "cart": {
                          "$ref": "#/components/schemas/Cart"
                        },
                        "wishlist_count": {
                          "type": "integer"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "integer"
                  },
                  "variant_id": {
                    "type": "integer"
                  },
                  "quantity": {
                    "type": "integer"
                  }
                },
                "required": [
                  "product_id"
                ]
              }
            }
          }
        }
      }
    },
    "/checkout": {
      "get": {
        "tags": [
          "Checkout & Orders"
        ],
        "summary": "Everything the checkout screen needs",
        "operationId": "get_checkout",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "cart": {
                          "$ref": "#/components/schemas/Cart"
                        },
                        "delivery_options": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string",
                                "nullable": true
                              },
                              "fee": {
                                "type": "number"
                              },
                              "formatted_fee": {
                                "type": "string"
                              },
                              "estimated_days": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          }
                        },
                        "payment_methods": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "enabled": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "free_shipping_threshold": {
                          "type": "number"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Live totals, delivery options and the payment methods actually accepted."
      }
    },
    "/orders": {
      "post": {
        "tags": [
          "Checkout & Orders"
        ],
        "summary": "Place an order",
        "operationId": "post_orders",
        "responses": {
          "201": {
            "description": "Order placed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "order": {
                          "$ref": "#/components/schemas/OrderDetail"
                        },
                        "cart": {
                          "$ref": "#/components/schemas/Cart"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed, or the cart is empty / has unavailable items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Guest checkout, exactly like the website: fill in the form and order. There is no account.\n\nPrices, shipping and the coupon are recalculated server-side \u2014 anything the client sends about money is ignored.\n\n**Keep `order_number` from the response.** With no account, that number plus the email or phone is the only way back to the order.\n\n**Payment is Cash on Delivery only.** No gateway is connected, so a card order could never be settled.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "postal_code": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "delivery": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "express"
                    ],
                    "default": "standard"
                  },
                  "country": {
                    "type": "string",
                    "default": "Pakistan"
                  },
                  "is_gift": {
                    "type": "boolean"
                  },
                  "gift_message": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "email",
                  "phone",
                  "address",
                  "city"
                ]
              }
            }
          }
        }
      }
    },
    "/orders/track": {
      "post": {
        "tags": [
          "Checkout & Orders"
        ],
        "summary": "Track an order",
        "operationId": "post_orders_track",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "order": {
                          "$ref": "#/components/schemas/OrderDetail"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No order matches that number and contact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "`contact` must be the email or phone used on the order. Requiring it is what stops an order number on its own from exposing someone's address.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "order_number": {
                    "type": "string"
                  },
                  "contact": {
                    "type": "string",
                    "description": "Email or phone used on the order"
                  }
                },
                "required": [
                  "order_number",
                  "contact"
                ]
              }
            }
          }
        }
      }
    },
    "/orders/{order_number}": {
      "get": {
        "tags": [
          "Checkout & Orders"
        ],
        "summary": "Look up an order",
[...]
